<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.mapper.UserVoucherMapper">
    <insert id="saveVoucherOrder" >
        insert into voucher_order
            (id, voucher_id, user_id, status, pay_time)
        VALUES
            (#{id},#{voucherId},#{userId},1,#{payTime})
    </insert>
</mapper>