<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.mapper.UserAddressMapper">

    <update id="modifyAddress" parameterType="com.campus.vo.UserAddressVo">
        update user_address
        <set>
            <if test="userName!=null">
                user_name=#{userName},
            </if>
            <if test="userTelephone!=null">
                user_telephone=#{userTelephone},
            </if>
            <if test="fullLocation!=null ">
                full_location=#{fullLocation},
            </if>
            <if test="provinceCode!=null" >
                province_code=#{provinceCode},
            </if>
            <if test="cityCode!=null">
                city_code=#{cityCode},
            </if>
            <if test="countyCode!=null">
                county_code=#{countyCode},
            </if>
            <if test="address!=null">
                address=#{address},
            </if>
            <if test="updateUser!=null">
                update_user=#{updateUser},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
        </set>
        where
        user_id = #{userId} and id = #{id}
    </update>
</mapper>


